@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto:400,700,900&display=swap');
:root {
    --orange: #f49c42;
    --pink: #e04067;
    --transition: .4s ease;
    --text: #222;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: var(--text);
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}
